default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV.fetch("DATABASE_USERNAME", "root") %>
  password: <%= ENV.fetch("DATABASE_PASSWORD", "password") %>
  host: <%= ENV.fetch("DATABASE_HOST", "db") %>
  port: <%= ENV.fetch("DATABASE_PORT", 3306) %>

development:
  <<: *default
  database: <%= ENV.fetch("DATABASE_NAME", "api_development") %>

test:
  <<: *default
  database: api_test

production:
  <<: *default
  database: <%= ENV.fetch("DATABASE_NAME", "db") %>
