.answer-loader-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #2d264b;
}

.answer-loader-container .progress{
    height: 5px;
    transition-duration: 0.1s; /* 0.1秒の変化時間で滑らかに進捗バーが右へ */
    width: 0; /* 初期幅は0 */
    transition-timing-function: linear;  /* 変更を一定の速度に */
}