.answer-loader-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #2d264b;
}

.answer-loader-container .progress{
    height: 5px;
    transition-duration: 0.1s;
    width: 0;
    transition-timing-function: linear;
}